/* Containers and main */
.roster {
    font-family: Roboto;
    justify-items: left;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    margin: 0 auto;
    max-width: 1000px;
}

/* Each row of pilot information */
.pilot-info {
    display: flex;
    flex-direction: column;
}

.pilot-stats {
    margin: 15px 0 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.pilot-stats--start {
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    text-align: center;
}

.stat { 
    margin-top: 10px;
    min-width: 100px;
}

.pilot-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.pilot-main-avatar {
    text-align: center;
    align-self: flex-start;
    margin-left: 20px;
}

.pilot-main-text {
    flex: 1;
}

.pilot-main-text p {
    margin-left: 20px !important;
    margin-top: 5px !important;
}

.pilot-main-text .desc {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}

.capacitaciones {
    display: flex;
    flex-direction: row;
}

.capacitaciones-plane {
    width: 150px;
    height: 75px;
    margin: 0;
}

.medal {
    margin-top: 10px;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.medal-info {
    margin: 0;
    margin-left: 10px;
}

.medal-info p {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
}

.medal-info-bold {
    font-weight: bold !important;
}

.medal img {
    width: 80px;
}

.btn-stats {
    border-radius:50%;
    border: none;
    height: 50px;
    width: 50px;
    color:#ffffff;
    font-size: 25px;
    line-height: 25px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    background: linear-gradient(to bottom right, #6452E9, #639FF9);
    padding: 0;
}

.text-stats {
    font-size: 14px !important;
    font-weight: 100 !important;
    text-transform: uppercase;
    margin: 0;
}

.btn-stats:hover ~ .title-stats { 
    color: #0BB4AA !important; 
    font-weight: bold !important;
}

.btn-stats:hover ~ .text-stats { 
    color: #0BB4AA !important; 
    font-weight: bold !important;
}

hr {
    border-color:#7C8097;
    width:90%;
    margin-top:24px;
    margin-bottom:24px;
}

/* Avatar */
.profile {
    border-radius:100%;
    width:128px;
    height:128px;
}

/* Texts */ 
.callsign {
    font-weight: 300 !important;
    font-size: 20px !important;
    margin: 5px 0 0 0 !important;
    padding: 0;
    text-transform: uppercase !important;
}

.title {
    font-weight: 300 !important;
    font-size: 20px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase !important;
}

.role {
    font-size: 12px !important;
    font-weight: 100 !important;
    margin: 0 !important;
    text-transform: uppercase !important; 
}

.desc {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.desc span {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 300;
}

.title-stats {
    margin: 10px 0 0 0 !important;
}

/* Media query for screens with width less than 600px */
@media (max-width: 600px) {
    .pilot-main {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .pilot-main-text {
        width: 100%;
        text-align: left;
        margin: 0;
    }

    .pilot-main-avatar {
        order: -1;
        width: 100%;
        margin-bottom: 15px;
    }

    .pilot-stats--start {
        justify-content: space-between;
    }

    .medal {
        width: 100% !important;
    }
}