/* Containers and main */
.roster {
    font-family:Roboto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

/* Cards */
.card {
    text-align: center;
    border-radius: 6px;
    display: inline-block;
    position: relative;
    width: 350px;
    box-shadow: 0 12px 13px rgba(0,0,0,0.16), 0 12px 13px rgba(0,0,0,0.16);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 10px;
    background: linear-gradient(to bottom right, #0a0a0a, #373d4d);
}
.card:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.card-content { display: flex; }

/* Avatar */
.profile {
    border-radius:100%;
    margin-top:12px;
    width:128px;
    height:128px;
}

/* Texts */ 
.callsign {
    font-weight: 300 !important;
    font-size: 20px !important;
    margin: 5px 0 0 0 !important;
    padding: 0;
    text-transform: uppercase !important;
    color:#ffffff !important;
}

.title {
    font-weight: 300 !important;
    font-size: 20px !important;
    margin: 10px 0 !important;
    padding: 0 !important;
    text-transform: uppercase !important;
    color:#ffffff !important;
}

.role {
    color: #ffffff !important;
    font-size: 12px !important;
    font-weight: 100 !important;
    margin: 0 !important;
    text-transform: uppercase !important; 
}

.desc {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    margin: 10px 0 15px 0;
}

.lastflight {
    font-size: 14px;
    margin: 15px 0 5px 0;
}

/* Stats */
.stat-column { width: 33%; }

.btn-stats {
    border-radius:50%;
    border: none;
    height: 50px;
    width: 50px;
    color:#ffffff;
    font-size: 25px;
    line-height: 25px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    background: linear-gradient(to bottom right, #6452E9, #639FF9);
    padding: 0;
}

.title-stats {
    margin-bottom: 0 !important;
}

.text-stats {
    color:#ffffff;
    font-size: 12px !important;
    font-weight: 100 !important;
    text-transform: uppercase;
    margin: 0;
}

.btn-stats:hover ~ .title-stats { 
    color: #0BB4AA !important; 
    font-weight: bold !important;
}

.btn-stats:hover ~ .text-stats { 
    color: #0BB4AA !important; 
    font-weight: bold !important;
}

hr {
    border-color:#7C8097;
    width:90%;
    margin-top:24px;
    margin-bottom:24px;
}

/* Button */
.btn {
    cursor: pointer;
    background: linear-gradient(to top right, #6452E9, #639FF9);
    border:none;
    height:40px;
    color:#ffffff;
    width:35%;
    border-radius:30px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    margin: 0;

}

.btn:hover {
    border:solid 1px #639FF9;
    color: #639FF9;
    background:#ffffff;
    width:35%;
    border-color: linear-gradient(to top right, #6452E9, #639FF9);;
    border-radius:30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}